<div class="confirm_email_msg_container">
    <div class="confirm_email_window_container">
        <p class="confirm_email_title">Email подтвержден.</p>
        <p class="confirm_email_message_content">Адрес электронной почты @ViewData["Email"] успешно подтвержден.</p>
        <a class="btn btn-warning" href="/">Войти</a>
    </div>
</div>