<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
</head>
<body>
    <div class="navbar_container">

        <a href="#" class="nabar_brand">ISCards</a>

    </div>
        @RenderBody()


    

</body>
</html>
